*.o
/build/
/components/
/debug/
/release/
/build-pa22x_rebulid-Desktop_Qt_5_12_9_MinGW_64_bit-Debug/
/comparison_detection/
/delivery/
/images/
/mtld/
/.vscode/
/myinverse/
/qcustomplot/
/QXlsx/
/release/
/test/
/tools/
/windeployqt/
*.dll
*.lib
*.txt
*.ini
*.json
*.jsonl
*.log
pa22x_rebulid.*
test*
*.png
*.md
*.bat
internal*
*.zip
